<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogão</title>
  </head>
  <body>
    <header>
      <div>
        <h1><a href="/"><p>Super Blogão</a>
      </div>
    </header>
    <main>
      <div>
        <p>Data de publicação</p>
        <h2><a href="">Primeiro Post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam illum sapiente nesciunt quis eligendi eos facilis? Pariatur iusto autem quos hic ducimus. Omnis, aperiam quisquam.</p>
      </div>
      <div>
        <p>Data de publicação</p>
        <h2><a href="">Segundo Post</a></h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque cum debitis fugit? Beatae qui impedit exercitationem est cum quas, labore asperiores nisi sint natus. Esse quod dolores ipsum ullam quisquam!</p>
      </div>
    </main>
  </body>
</html>
